@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');
body{
    background-attachment: fixed;
    background-image: url(images/img1.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;    
    margin:0px !important;
    
}
.sentence{
    background: linear-gradient(to bottom, rgba(38,38,38,0.85), rgba(38,38,38,0.8), rgba(38,38,38,0.8),rgba(38,38,38,0.7),rgba(38,38,38,0.6));
    background-attachment: fixed;
    width:100vw;
    height:100vh;
    color:white;
    font-size: 36px;
    float: right;
    display:block;
}

.sentence div{
    width:100%;
    text-align: center;
}

#empty{
    display:none;
}
.sentence div p{
    padding-left:auto;
    flex-wrap: wrap;
    margin-top:40%;
    margin-bottom:33%;
    font-weight:900;
    font-family: 'Lato', sans-serif;
    text-shadow: 1px 1px 1px wheat;

}
.show{
    color:white !important;
}
.hide{
    color: rgba(255,255,255,0) !important;
    display:none;
}
form{
    position: relative;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    width:40%;   
    padding:calc(100vw/28) calc(100vw/30);
    background:rgba(255,255,255,0.4);
    border-radius:8px;
    margin-top:27%;
    margin-left: 30%;
    box-shadow: 3px 3px 4px white;
    animation: slide 1s ease-in 0s 1;
    z-index: 0;
}
input[type=text]{
    width:90%;
    animation: zoom 2s ease-out 0s 1;
}
input,button{
    overflow:hidden;
    padding:calc(100vw/100);
    padding-left:8%;
    padding-top: 4.5%;
    margin-top:28px;
    border-radius: 12px;
    border:none;
    font-family:'Lato', sans-serif;
}

::placeholder{
    color:rgb(162, 157, 157);
    font-size:20px;
    letter-spacing: 1px;
    font-family:'Lato', sans-serif;
}

button{
    color:white;
    font-size:20px;
    background:#1e2835;
    border:2px solid white;
    font-family:'Lato', sans-serif;
    animation: zoom 2s ease-out 0s 1;
}

button:hover{
    box-shadow: 4px 9px 6px #4c4a4a;
}
input[type=text]:hover ,input[type=text]:active{
    transform: scale(1.05);
}
@keyframes slide{
    0%{
        transform: rotateY(90deg);
    }
    100%{
        transform: rotateY(0deg);
    }
}
@keyframes zoom{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}
@media (max-width: 324.98px){
    form{
        margin-left:15%;
        width:60%;
    }
    ::placeholder{
        font-size:12px;
        letter-spacing: 0.6px;
    } 
    button{
        font-size:13px;
    }   
    input,button{
        border-radius: 7px;
    }
    .show{
        font-size:25px;
    }
}

@media (min-width:325px) and (max-width: 575.98px){
    form{
        margin-left:20%;
        width:50%;
        margin-top:22%;
    }
    ::placeholder{
        font-size:12px;
        letter-spacing: 0.6px;
    } 
    button{
        font-size:13px;
    }   
    input,button{
        border-radius: 7px;
    }
    .show{
        margin-top:15% !important;
        margin-bottom:15% !important;
        font-size:28px;
    }
    
}

@media (min-width: 576px) and (max-width: 767.98px){
    ::placeholder{
        font-size:14px;
        letter-spacing: 0.7px;
    }  
    button{
        font-size:15px;
    }   
    input,button{
        border-radius: 9px;
    }
    .sentence div p{
        margin-top:18%;
        margin-bottom:0%;
    }
    form{
        margin-top:12%;
    } 
}

@media (min-width: 768px) and (max-width: 991.8px){
    ::placeholder{
        font-size:16px;
        letter-spacing: 0.8px;
    }   
    button{
        font-size:17px;
    } 
    input,button{
        border-radius: 11px;
    }
}

@media (min-width: 768px) and (max-width: 991.8px){
    ::placeholder{
        font-size:18px;
        letter-spacing: 0.9px;
    }   
    button{
        font-size:19px;
    }
    .sentence div p{
        margin-top:20%;
        margin-bottom:0%;
    }
    form{
        margin-top:12%;
    }  
}

@media (min-width: 992px) and (max-width:1999.98px){
    .sentence{
      display:flex;
      flex-wrap: wrap;
      flex-direction: row;
    }
    #empty{
        display:block;
        width:10%;
    }
    #line{
        width:40%
    }
    #fro{
        width:50%;
    }
    form{
        width:330px;
        margin-left: 27%;
    }
}
@media (min-width: 1200px){
    .sentence{
      display:flex;
      flex-wrap: wrap;
      flex-direction: row;
    }
    #empty{
        display:block;
        width:10%;
    }
    #line{
        padding-top:5%;
        width:40%
    }
    #fro{
        width:50%;
    }
    form{
        width:360px;
    }
    
}
